{% extends '_base.html' %}

{% block content %}
<div class="inner cover text-center">
    {% if total is not None %}
    <h1 class="cover-heading">Search over {{total}} images.</h1>
    {% else %}
    <h1 class="cover-heading">Search similar images.</h1>
    {% end %}

    <p class="lead">
        <form class="row">
            <div class="form-group col-sm-8">
                <label class="sr-only">URL</label>
                <input type="text" name="url" class="form-control input-lg" placeholder="http://example.org/image.jpg">
            </div>

            <button type="submit" class="btn btn-default btn-lg col-sm-4">Search</button>
        </form> 
    </p>

    {% if samples %}
    <div class="row">
        <h2 class="col-sm-12">Or try one of the images below</h2>
    </div>

    <div class="row matches">
        {% for s in samples %}
        <div class="col-sm-4">
            <a class="" href="{{BASE_URL}}/{{market}}/?url={{escape(s['url'])}}">
                <div class="match" style="background-image: url({{quote(s['url'])}})"></div>
            </a>
        </div>
        {% end %}
    </div>
    {% end %}

</div>
{% end %}
